*.log
bin/
lib/
target/
.classpath
.project
.classpath
.settings/
target/
.metadata/
.recommenders/
WebContent/

#JetBrains project configuration files.
.idea
*.iml
.DS_Store
t_log
alert_log

*.pyc
templates_raw/
templates_out/

*.factorypath
test-output/
logs/
*.springBeans
bidsun-antlr-metadata-runnable.jar
bidsun-antlr-metadata-runnable_bak.jar
bidsun-antlr-metadata-runnable_old.jar
generator. log*
*.proto
tools/proto/

dependency-reduced-pom.xml

*.ipr
*.iws
taRecord_Error.*
